<div class="section-2-container">
  <div class="service">SOLUTIONS</div>
  <div class="customS">End-to-End Expertise</div>
  <div class="mapA">
    We think big, design smart and develop fast for all screens, projects and
    teams. Serving global leaders to entrepreneurs, we tailor our process based
    on your scale and structure.
  </div>
  <div class="card-container">
    <div class="card-1">
      <div class="cardimg">
        <img src="assets/blue.png" alt="cart" />
      </div>
      <div class="cardtxt">ENTERPRIZE<br />Lounch Your Idea</div>
      <div class="downarrow"><img src="assets/chevron.png" alt="" /></div>
    </div>
    <div class="card-2">
      <div class="cardimg"><img src="assets/yellow.png" alt="" /></div>
      <div class="cardtxt">STARTUP<br />Lounch Your Idea</div>
      <div class="downarrow"><img src="assets/chevron.png" alt="" /></div>
    </div>
    <div class="card-3">
      <div class="cardimg">
        <img src="assets/red.png" alt="" />
      </div>
      <div class="cardtxt">MIDSIZE<br />Lounch Your Idea</div>
      <div class="downarrow"><img src="assets/chevron.png" alt="" /></div>
    </div>
  </div>
</div>
