.section-2-container {
    font-family: var(--font-family);
    text-align: center;
    margin-top: 170px;
}
.service {
    font-size: 22px;
    font-weight: 600;
}
.customS {
    font-size: 35px;
    font-weight: 900;
    margin-top: 20px;
}
.mapA {
    font-size: 21px;
    width: 700px;
    margin: 20px auto 70px auto;
}
.card-container {
    display: flex;
    width: 99%;
    margin: auto;
    height: 360px;
    justify-content: space-between;
}
.card-1 {
    width: 98%;
}
.card-1:hover {
    background-color: rgb(116, 88, 209);
    transition: 0.4s;
}
.card-2 {
    width: 98%;
}
.card-2:hover {
    background-color: rgb(253, 213, 43);
    transition: 0.4s;
}
.card-3 {
    width: 98%;
}
.card-3:hover {
    background-color: rgb(252, 114, 114);
    transition: 0.4s;
}
.cardtxt {
    margin: 10px 0px;
}
.cardimg {
    margin-top: 10px;
}
.downarrow {
    margin-top: 50px;
}


    @media(max-width:835px){
        .mapA {
            font-size: 21px;
            width: 90vw;
            margin: 20px auto 70px auto;
        }
        .card-container {
            display: flex;
            margin: auto;
            flex-direction: column;
            height: auto;
            justify-content: space-between;
        }
    }
