<div class="section-2-container">
  <div class="service">SERVICES</div>
  <div class="customS">Custom Software Development</div>
  <div class="mapA">
    Map a strategy, build a solution or elevate your product experience with
    focused engagements available as standalone offerings or as a part of your
    project’s service stack
  </div>
  <div class="card-container">
    <div class="card-1">
      <div class="cardimg">
        <img src="assets/cart.png" alt="cart" />
      </div>
      <div class="cardtxt">ECOMMERENCE<br />DEVELOPMENT</div>
      <div><img src="assets/chevron.png" alt="" /></div>
    </div>
    <div class="card-2">
      <div class="cardimg"><img src="assets/mobile-booking.png" alt="" /></div>
      <div class="cardtxt">APP<br />DEVELOPMENT</div>
      <div><img src="assets/chevron.png" alt="" /></div>
    </div>
    <div class="card-3">
      <div class="cardimg"><img src="assets/settings.png" alt="" /></div>
      <div class="cardtxt">WEB<br />DEVELOPMENT</div>
      <div><img src="assets/chevron.png" alt="" /></div>
    </div>
    <div class="card-4">
      <div class="cardimg"><img src="assets/pc.png" alt="" /></div>
      <div class="cardtxt">ANGULAR<br />DEVELOPER</div>
      <div><img src="assets/chevron.png" alt="" /></div>
    </div>
  </div>
</div>
