<div class="sixth-container">
  <div>
    <ul class="footer-li">
      <a class="li" href="#"><li>Projects</li></a>
      <a class="li" href="#"><li>Services</li></a>
      <a class="li" href="#"><li>Company</li></a>
      <a class="li" href="#"><li>Career</li></a>
    </ul>
  </div>
  <div class="address">
    <div class="UAE">
      <div>UAE</div>
      <div>36 Street Dubai Mall, United States</div>
      <div>info@invextech.com</div>
    </div>
    <div class="pak">
      <div>PAKISTAN</div>
      <div>2nd Floor MR Center, M.A Jinnah</div>
      <div>Road Okara , Pakistan</div>
      <div>+92 3156429089</div>
      <div>info@invextech.com</div>
    </div>
  </div>
</div>
