<div class="section-2-container">
  <div class="service">PORTFOLIO</div>
  <div class="customS">Multi-Vertical Mastery</div>
  <div class="mapA">
    Working confidently across diverse regulatory environments, we meet business
    needs with engaging experiences in digital health, finance, engineering,
    commerce, real estate, education and beyond.
  </div>
  <div class="expBtn"><button class="universalBtn">EXPLORE ALL</button></div>
  <div class="card-container">
    <div class="cardimg">
      <a href="#"><img class="img" src="assets/automobile.PNG" alt="" /></a>
    </div>
    <div class="cardimg">
      <a href="#"><img class="img" src="assets/wellnese.PNG" alt="" /></a>
    </div>
    <div class="cardimg">
      <a href="#"><img class="img" src="assets/basar.PNG" alt="" /></a>
    </div>
  </div>
  <div class="card-container2">
    <div class="cardimg">
      <a href="#"><img class="img" src="assets/trade.PNG" alt="" /></a>
    </div>
    <div class="cardimg">
      <a href="#"><img class="img" src="assets/momentry.PNG" alt="" /></a>
    </div>
    <div class="cardimg">
      <a href="#"><img class="img" src="assets/payment.PNG" alt="" /></a>
    </div>
  </div>
</div>
