<div class="bg-img">
  <div class="container">
    <div class="heading-1">
      Empowerv your business <br />smartly with
      <span class="invexTech">InvexTech</span>
    </div>
    <div class="subContainer">
      <p class="subHeading">
        We are the best software company that works with startups, SMBs, and
        enterprises to develop disruptive digital products and strategies that
        solve business problems and deliver measurable results.
      </p>
    </div>
    <div class="btnDiv">
      <a href="#"><button class="loadButton">Load more &rarr;</button></a>
    </div>
  </div>
</div>
